.cards{
      height: 170px;
      width: 366px;
      background-color:white;
      margin: 10px;
      box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
      border-radius: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      
      
}
.cards img {
      width: 100%; /* or any custom size */
      height: 100%; 
      object-fit: contain;
      border-radius: 20px;
  }